sounddevice
google-genai
pillow
requests
beautifulsoup4
duckduckgo-search
playwright
pyautogui
pyperclip
pygetwindow
opencv-python
numpy
mss
psutil
qtawesome
mediapipe
comtypes
pycaw
win10toast
send2trash
youtube-transcript-api
pywinauto
python-pptx
websockets
google-auth-oauthlib
google-api-python-client
spotipy
openrgb-python
flask
flask-socketio
gtts
edge-tts
cryptography
eventlet
vosk
tzdata
openai
groq
pyaudio
soundfile
openpyxl
python-docx
scikit-learn
pyyaml
pywin32
